{% set exAction='list' %}
    {% if field_description.options.ex_action is defined %}
        {% set exAction = field_description.options.ex_action %}
    {% endif %}

{% extends exAction == 'show'
    ? '@SonataAdmin/CRUD/base_show_field.html.twig'
    : '@SonataAdmin/CRUD/base_list_field.html.twig'
%}

{% block field %}
    {% set maxWidth="300px" %}
    {% if field_description.options.ex_max_width is defined %}
        {% set maxWidth = field_description.options.ex_max_width %}
    {% endif %}

    <div style="max-width: {{ maxWidth }};word-wrap: break-word;">
        <span>
            {% for key, val in value  %}
                <p>{{ val }}</p>
            {% endfor %}
        </span>
    </div>
{% endblock %}